/* Basic Palette
background: #727272 / 64, 64, 64
color: #c8c8c8 / 200, 200, 200
tab not selected: #3c3c3c / 606060
tab not selected border: #5d5d5d / 939393
tab not selected color: #8c8c8c / 140, 140, 140
tab selected: #535353 and #4f4f4f / 
tab selected color: #c8c8c8 / 200, 200, 200
tab selected left border: #edd976
tab selected top border: #d2b450
tab selected bottom border: #474747
highlight yellow: #d2b450 / 210, 180, 80
frame: top/left - #303030, right/bottom - #787878
header: #434343 / 66, 66, 66 or #202020 / 32, 32, 32
push button: #565656 / 86, 86, 86
border: top/left (#818181) right/bottom (#2b2b2b)
button color: #2b2b2b
*/

/* Set the selection colors for all widgets. */
QWidget
{
	color: #7a7a7a;
	background-color: #404040;
	selection-color: #686868;
	selection-background-color: #2e2e2e;
}

QMainWindow
{
	background: #3f3f3f;
}

QMainWindow::separator
{
     	background: #303030;
	border: 0px;
     	width: 3px; /* when vertical */
     	height: 3px; /* when horizontal */
}

QMainWindow::separator:hover
{
	background: #262626;
	border: 0px;
}

/* Customize check boxes. */
QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
}

QCheckBox::indicator:unchecked {
    image: url(:/MainWindow/images/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(:/MainWindow/images/checkbox_unchecked_hover.png);
}

QCheckBox::indicator:unchecked:pressed {
    image: url(:/MainWindow/images/checkbox_unchecked_pressed.png);
}

QCheckBox::indicator:checked {
    image: url(:/MainWindow/images/checkbox_checked.png);
}

QCheckBox::indicator:checked:hover {
    image: url(:/MainWindow/images/checkbox_checked_hover.png);
}

QCheckBox::indicator:checked:pressed {
    image: url(:/MainWindow/images/checkbox_checked_pressed.png);
}

QComboBox QAbstractItemView {
     border: 2px solid darkgray;
     selection-background-color: lightgray;
}

/* Combobox */
QComboBox 
{
	border: 1px solid #393939;
	border-radius: 0px;
	padding: 1px 18px 1px 3px;
	min-width: 6em;
	color: #e5e5e5;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #6e6e6e, stop: 1.0 #4f4f4f);
}

QComboBox:editable
{
	background: #393939;
}

QComboBox:!editable, QComboBox::drop-down:editable
{
	color: #2b2b2b;
	background: #565656;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on
{
	color: #2b2b2b;
	background: #d9d9d9;
}

QComboBox:on
{ 
	/* shift the text when the popup opens */
	padding-top: 3px;
	padding-left: 4px;
}

QComboBox::drop-down
{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;
	border-left-width: 1px;
	border-left-color: darkgray;
	border-left-style: solid; /* just a single line */
	border-top-right-radius: 3px; /* same radius as the QComboBox */
	border-bottom-right-radius: 3px;
	background: #d9d9d9;
}

QComboBox::down-arrow
{
	color: #CCCCCC;
}

QComboBox::down-arrow:on
{
	/* shift the arrow when popup is open */
	top: 1px;
	left: 1px;
}

QDockWidget
{
     	border: 1px solid #000000;
	padding-left: 4px;
	/* titlebar-close-icon: url(:/MainWindow/images/branch_closed.png); */
     	/* titlebar-normal-icon: url(:/MainWindow/images/branch_open.png); */
}

QDockWidget::title
{
     	text-align: left; /* align the text to the left */
     	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #373737, stop: 1.0 #2b2b2b);
	border: 1px solid #222222;
	padding-left: 5px;
	padding-right: 5px;
	color: #7e7e7e;
}

QDockWidget::close-button, QDockWidget::float-button
{
      background: #686868;
     	padding: 0px;
	border: 0px;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
     background: #686868;
     border: 0px;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
     padding: 1px -1px -1px 1px;
}

/* Header for ... */
QHeaderView::section
{
	color: #cccccc;
	background: #3d3d3d;
	padding-left: 4px;
	border-top: 1px solid #595959;
	border-left: 1px solid #595959;
	border-right: 1px solid #595959;
	border-bottom: 0px solid #000000;
}

/* style the sort indicator */
QHeaderView::down-arrow
{
	image: url(:/MainWindow/images/down_arrow.png);
}

QHeaderView::up-arrow
{
	image: url(:/MainWindow/images/up_arrow.png);
}

/* Text input box */
QLineEdit
{
	background: #666666;
	color: #e5e5e5;
	border: 1px solid #222222;
	padding: 0 8px;
	selection-background-color: #606060;
	margin-left: 5px;
	margin-right: 5px;
}

QLabel
{
	margin-left: 5px;
	margin-right: 5px;

}

/* Drop down style */
QMenu
{
	background: #3c3c3c;
	border: 1px solid #2e2e2e2e;
	color: #999999;
}

QMenu::item
{
	/* sets background of menu item. set this to something non-transparent
	if you want menu color and menu item color to be different */
	background-color: transparent;
}

QMenu::item:selected
{
	/* when user selects item using mouse or keyboard */
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #c55b02, stop: 1.0 #ff7603);
	color: #000000;
}

QMenuBar
{
	/* border is not working */
	border: 0px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #3b3b3b, stop: 1.0 #404040);
}

QMenuBar::item
{
	spacing: 3px; /* spacing between menu bar items */
	padding: 1px 4px;
	background: transparent;
}

/* when selected using mouse or keyboard */

QMenuBar::item:selected
{
	color: #ff7603;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #1c1c1c, stop: 0.3 #303030, stop: 1.0 #333333);
	border: 1px solid #000000;
}

QMenuBar::item:pressed
{
	color: #ff7603;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #1c1c1c, stop: 1.0 #333333);
	border: 1px solid #000000;
}

QPushButton
{
	min-width: 80px;
	border: 1px solid #393939;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #e9e9e9, stop: 1.0 #7f7f7f);
	border-radius: 5px;
	color: #000000;
}

/* all types of push button */
QPushButton:hover
{
	color: #e5e5e5;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #404040, stop: 1.0 #4c4c4c);
	border: 1px solid #ff7603;
}

QPushButton:pressed
{
	color: #e5e5e5;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #404040, stop: 1.0 #4c4c4c);
}

/* Customize radio buttons. */

QRadioButton {
    spacing: 5px;
}

QRadioButton::indicator {
    width: 13px;
    height: 13px;
}

QRadioButton::indicator::unchecked {
    image: url(:/MainWindow/images/radiobutton_unchecked.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(:/MainWindow/images/radiobutton_unchecked_hover.png);
}

QRadioButton::indicator:unchecked:pressed {
    image: url(:/MainWindow/images/radiobutton_unchecked_pressed.png);
}

QRadioButton::indicator::checked {
    image: url(:/MainWindow/images/radiobutton_checked.png);
}

QRadioButton::indicator:checked:hover {
    image: url(:/MainWindow/images/radiobutton_checked_hover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(:/MainWindow/images/radiobutton_checked_pressed.png);
}

/* Customize arrows. */

*::down-arrow, *::menu-indicator {
    image: url(:/MainWindow/images/down_arrow.png);
    width: 7px;
    height: 7px;
}

*::down-arrow:disabled, *::down-arrow:off {
   image: url(:/MainWindow/images/down_arrow_disabled.png);
}

*::up-arrow {
    image: url(:/MainWindow/images/up_arrow.png);
    width: 7px;
    height: 7px;
}

*::up-arrow:disabled, *::up-arrow:off {
   image: url(:/MainWindow/images/up_arrow_disabled.png);
}


QScrollBar:horizontal
{
	background: #4d4d4d;
	max-height: 12px;
	min-height: 12px;
	margin: 0px 40px 0px 0px;
}

QScrollBar::handle:horizontal
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #373737, stop: 1.0 #2b2b2b);
	min-width: 30px;
	min-height: 8px;
	max-height: 8px;
	border: 1px solid #383838;
	border-radius: 5px;	
}

QScrollBar::add-line:horizontal
{
	background: #4d4d4d;
	width: 16px;
     	subcontrol-position: right;
     	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
	background: #4d4d4d;	
	width: 16px;
     	subcontrol-position: top right;
     	subcontrol-origin: margin;
	position: absolute;
	right: 20px;
}

QScrollBar:left-arrow:horizontal
{
	background: #4d4d4d;	
	min-width: 5px;
	min-height: 5px;
	max-width: 5px;
	max-height: 5px;
}

QScrollBar::right-arrow:horizontal
{
	background: #4d4d4d;	
	min-width: 5px;
	min-height: 5px;
	max-width: 5px;
	max-height: 5px;
}

QScrollBar:vertical 
{
	background: #4d4d4d;
	max-width: 12px;
	min-width: 12px;
	margin: 40px 0px 0px 0px;
}

QScrollBar::handle:vertical
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #373737, stop: 1.0 #2b2b2b);
	min-width: 8px;
	max-width: 8px;
	min-height: 30px;
	border: 1px solid #383838;
	border-radius: 5px;
}

QScrollBar::add-line:vertical
{
     background: #4d4d4d;
     height: 16px;
     subcontrol-position: top;
     subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
     	background: #4d4d4d;
     	height: 16px;
     	subcontrol-position: top;
     	subcontrol-origin: margin;
	position: absolute;
	top: 20px;
}

QScrollBar:up-arrow:vertical
{
	background: #4d4d4d;	
	min-width: 5px;
	min-height: 5px;
	max-width: 5px;
	max-height: 5px;

}

QScrollBar::down-arrow:vertical
{
	background: #4d4d4d;	
	min-width: 5px;
	min-height: 5px;
	max-width: 5px;
	max-height: 5px;

}


QSlider::groove:vertical
{
	background: #333333;
	position: absolute; 
	left: 4px; right: 4px;
}

QSlider::handle:vertical
{
     height: 10px;
     background: #ff7603;
     border: 1px solid #62340e;
     margin: 0 -4px; /* expand outside the groove */
}

QSlider::add-page:vertical
{
     background: #686868;
}

QSlider::sub-page:vertical
{
     background: #686868;
}

QStatusBar
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #404040, stop: 1.0 #3b3b3b);
	border: 0px;
}


/* Table View */
QTableView
{
	selection-background-color: #a6a6a6;
	selection-color: #d2b450;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
}

/* TreeView */
QTreeView::item 
{
	background: #3e3e3e;
	alternate-background-color: #787878;
	color: #a1a1a1;
}

QTreeView::item:hover
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #c55b02, stop: 1.0 #ff7603);
	color: #000000;
}
QTreeView::item:selected
{
	background: #333333;
	color: #eb7009;
}

QTreeView::item:selected:active
{
 	background: #333333;
	color: #eb7009;	
}

QTreeView::item:selected:!active
{
     background: #333333;
	color: #eb7009;
}

QTreeView::branch:has-siblings:!adjoins-item {
     border-image: url(:/MainWindow/images/vline.png) 0;
 }

 QTreeView::branch:has-siblings:adjoins-item {
     border-image: url(:/MainWindow/images/branch-more.png) 0;
 }

 QTreeView::branch:!has-children:!has-siblings:adjoins-item {
     border-image: url(:/MainWindow/images/branch-end.png) 0;
 }

 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
         border-image: none;
         image: url(:/MainWindow/images/branch-closed.png);
 }

 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
         border-image: none;
         image: url(:/MainWindow/images/branch-open.png);
 }

/* The tab widget frame */
QTabWidget::pane
{
	border: 1px solid #222222;
}

/* Style the tab using the tab sub-control. */
QTabBar::tab
{
	color: #a1a1a1;
	border-top: 1px solid #8f8f8f;
	border-left: 1px solid #414141;
	border-right: 1px solid #414141;
	border-bottom: 1px solid #222222;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #373737, stop: 1.0 #2b2b2b);
	padding: 4px;
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

QTabBar::tab:hover
{
	color: #e5e5e5;
	border-top: 1px solid #8f8f8f;
	border-left: 1px solid #414141;
	border-right: 1px solid #414141;
	border-bottom: 1px solid #222222;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #373737, stop: 1.0 #2b2b2b);}

QTabBar::tab:selected {
	color: #e5e5e5;
	border-top: 1px solid #8f8f8f;
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
	border-bottom: 0px;
	background: #404040;


}

/* Style for main toolbar */
QToolBar
{
	border: 0px;
	background: #404040;
	spacing: 3px; /* spacing between items in the tool bar */
	padding-top: 2px;
	padding-bottom: 2px;
	min-height: 30px;
}

/* All types of tool button */
QToolButton
{
	border: 1px solid #393939;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #d0d0d0, stop: 1.0 #7f7f7f);
	border-radius: 5px;
	height: 20px;	
}

QToolButton[popupMode="1"]
{
	/* only for MenuButtonPopup */
	padding-right: 20px; /* make way for the popup button */
}

QToolButton::menu-button
{
     /* 16px width + 4px for border = 20px allocated above */
	width: 16px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #d0d0d0, stop: 1.0 #7f7f7f);
	border: 1px solid #393939;
}

QToolButton:hover
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #c55b02, stop: 1.0 #ff7603);
	border: 1px solid #000000;
}

QToolButton:pressed
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
	stop: 0 #c55b02, stop: 1.0 #ff7603);
	border: 1px solid #000000;
}

QToolTip
{
	border: 1px solid #555555;
	background: #222222;
	padding: 1px;
	border-radius: 5px;
	opacity: 200;
	color: #CCCCCC;
}
