/* Basic Palette
border styles: dashed | dot-dash | dot-dot-dash | dotted | double | groove | inset | outset | ridge | solid | none
*/

/* Set the selection colors for all widgets. */
QWidget
{
	color: #c8c8c8;
	background-color: #2e2e2e;
	selection-color: #686868;
	selection-background-color: #222222;
	padding: 0px;
	margin: 0px;
}

QMainWindow
{
	background: #2e2e2e;
	padding: 0px;
	margin: 0px;
}

QMainWindow::separator
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3b3b3b);

	border-top: 1px solid #666666;
	border-bottom: 1px solid #262626;
	border-left: 1px solid #666666;
	border-right: 1px solid #262626;
	width: 4px; /* when vertical */
    height: 4px; /* when horizontal */
}

QMainWindow::separator:hover
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #585858, stop: 1.0 #3b3b3b);

	border-top: 1px solid #666666;
	border-bottom: 1px solid #262626;
	border-left: 1px solid #666666;
	border-right: 1px solid #262626;
}

/* Customize check boxes. */
QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
}

QCheckBox::indicator:unchecked {
    image: url(:/MainWindow/images/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(:/MainWindow/images/checkbox_unchecked_hover.png);
}

QCheckBox::indicator:unchecked:pressed {
    image: url(:/MainWindow/images/checkbox_unchecked_pressed.png);
}

QCheckBox::indicator:checked {
    image: url(:/MainWindow/images/checkbox_checked.png);
}

QCheckBox::indicator:checked:hover {
    image: url(:/MainWindow/images/checkbox_checked_hover.png);
}

QCheckBox::indicator:checked:pressed {
    image: url(:/MainWindow/images/checkbox_checked_pressed.png);
}

/* Combobox */
QComboBox 
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);

	color: #c8c8c8;
	border-top-left-radius: 0px; /* same radius as the QComboBox */
	border-bottom-left-radius: 0px;
	padding: 1px 18px 1px 3px;
	min-width: 6em;
}

/* The popup */
QComboBox QAbstractItemView {
	background: #3a3a3a;
	border-top: 1px solid #949494;
	border-left: 1px solid #949494;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #262626;
	selection-background-color: #494949;
	selection-color: #e5e5e5;
	color: #c8c8c8;
}

QComboBox:editable
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
}

QComboBox:!editable, QComboBox::drop-down:editable
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
}

QComboBox:on
{ 
	/* shift the text when the popup opens */
	padding-top: 3px;
	padding-left: 4px;
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
}

/* Drop down button */
QComboBox::drop-down
{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;
	background: #494949;
	border-top: 0px solid #818181;
	border-left: 0px solid #818181;
	border-bottom: 0px solid #2b2b2b;
	border-right: 0px solid #2b2b2b;

}

QComboBox::down-arrow
{
	border: 1px solid #303030;
	background: #848484;
	width: 3px;
    height: 3px;
}

QComboBox::down-arrow:on
{
	/* shift the arrow when popup is open */
	top: 1px;
	left: 1px;
	border: 1px solid #303030;
	background: #848484;

}

QDockWidget
{
    border-top: 1px solid #606060;
	border-left: 1px solid #606060;
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
	border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

QDockWidget::title
{
    background: #2e2e2e;
}

/* Header for ... */
QHeaderView::section
{
	color: #c8c8c8;
	padding-left: 4px;
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
}

/* Text input box */
QLineEdit
{
	color: #ffffff;
    background: #131313;
    border-bottom: 1px solid #242424;
	border-right: 1px solid #242424;
	border-top: 1px solid #2e2e2e;
	border-left: 1px solid #2e2e2e;
	padding: 0 8px;
	selection-background-color: #232323;
	margin-left: 5px;
	margin-right: 5px;
}

QLabel
{
	margin-left: 5px;
	margin-right: 5px;
	background: none;
}

/* Drop down style */
QMenu
{
	background: #3a3a3a;
	border-top: 1px solid #949494;
	border-left: 1px solid #949494;
	border-bottom: 1px solid #161616;
	border-right: 1px solid #161616;
	color: #c8c8c8;
}

QMenu::item
{
	/* sets background of menu item. set this to something non-transparent
	if you want menu color and menu item color to be different */
	background-color: transparent;
}

QMenu::item:selected
{
	/* when user selects item using mouse or keyboard */
	background: #494949;
	color: #e5e5e5;
}

QMenuBar
{
    border-top: 1px solid #424242;
	border-left: 1px solid #424242;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #262626;
		background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #3a3a3a, stop: 1.0 #323232);

}

QMenuBar::item
{
	spacing: 3px; /* spacing between menu bar items */
	padding: 1px 4px;
	background: transparent;
	color: #c8c8c8;
}

/* when selected using mouse or keyboard */

QMenuBar::item:selected
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #e5e5e5;
	border-radius: 0px;
}

QMenuBar::item:pressed
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
    color: #e5e5e5;
	border-radius: 0px;
}

QPushButton
{
	min-width: 80px;
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	color: #c8c8c8;
	border-radius: 5px;
}

/* all types of push button */
QPushButton:hover
{
	color: #cccccc;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

	border-radius: 5px;
}

QPushButton:pressed
{
	color: #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

	border-radius: 5px;
}

/* Customize radio buttons. */
QRadioButton 
{
    spacing: 5px;
}

QRadioButton::indicator 
{
    width: 13px;
    height: 13px;
}

QRadioButton::indicator::unchecked
{
    image: url(:/MainWindow/images/radiobutton_unchecked.png);
}

QRadioButton::indicator:unchecked:hover 
{
    image: url(:/MainWindow/images/radiobutton_unchecked_hover.png);
}

QRadioButton::indicator:unchecked:pressed 
{
    image: url(:/MainWindow/images/radiobutton_unchecked_pressed.png);
}

QRadioButton::indicator::checked 
{
    image: url(:/MainWindow/images/radiobutton_checked.png);
}

QRadioButton::indicator:checked:hover 
{
    image: url(:/MainWindow/images/radiobutton_checked_hover.png);
}

QRadioButton::indicator:checked:pressed 
{
    image: url(:/MainWindow/images/radiobutton_checked_pressed.png);
}

/* Customize arrows. 

*::down-arrow, *::menu-indicator {
    image: url(:/MainWindow/images/down_arrow.png);
    width: 9px;
    height: 9px;
}

*::down-arrow:disabled, *::down-arrow:off {
   image: url(:/MainWindow/images/down_arrow_disabled.png);
}

*::up-arrow {
    image: url(:/MainWindow/images/up_arrow.png);
    width: 9px;
    height: 9px;
}

*::up-arrow:disabled, *::up-arrow:off {
   image: url(:/MainWindow/images/up_arrow_disabled.png);
}

*/

QScrollBar QAbstractScrollArea
{
	background: #404040;
}

QScrollBar:horizontal
{
	background: #404040;
	max-height: 12px;
	min-height: 12px;
	margin: 0px 22px 0px 22px;
    border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;

}

QScrollBar::handle:horizontal
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	border-radius: 5px;
	min-width: 20px;
	max-width: 20px;
	min-height: 8px;
	max-height: 8px;
}

QScrollBar::add-line:horizontal
{
		background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);

    border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;

	width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;
	width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
	image: url(:/MainWindow/images/left_arrow.png);
    width: 6px;
    height: 11px;

  }
  
QScrollBar::right-arrow:horizontal
{
     image: url(:/MainWindow/images/right_arrow.png);
     width: 6px;
     height: 11px;

}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
     background: #4d4d4d;
}

QScrollBar:vertical 
{
	background: #404040;
	max-width: 12px;
	min-width: 12px;
	margin: 22px 0px 22px 0px;
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;

}

QScrollBar::handle:vertical
{
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;

	border-radius: 5px;
	min-width: 8px;
	max-width: 8px;
	min-height: 20px;
	max-height: 20px;
}

QScrollBar::add-line:vertical
{
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
   	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;

}

QScrollBar::sub-line:vertical
{
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	border-bottom: 1px solid #686868;
	border-right: 1px solid #686868;
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;

}

QScrollBar::up-arrow:vertical
{
	image: url(:/MainWindow/images/up_arrow.png);
    width: 11px;
    height: 6px;

  }
  
QScrollBar::down-arrow:vertical
{
     image: url(:/MainWindow/images/down_arrow.png);
     width: 11px;
     height: 6px;

}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
      background: #4d4d4d;
  }

QSlider::groove:vertical
{
	background: #333333;
	position: absolute; 
	left: 4px; right: 4px;
}

QSlider::handle:vertical
{
     height: 10px;
     background: #ff7603;
     border: 1px solid #62340e;
     margin: 0 -4px; /* expand outside the groove */
}

QSlider::add-page:vertical
{
     background: #686868;
}

QSlider::sub-page:vertical
{
     background: #686868;
}

QSpinBox {
    padding-right: 15px; /* make room for the arrows */
    background: #131313;
    border-bottom: 1px solid #242424;
	border-right: 1px solid #242424;
	border-top: 1px solid #2e2e2e;
	border-left: 1px solid #2e2e2e;
}
 
QSpinBox::up-button {
     subcontrol-origin: border;
     subcontrol-position: top right; /* position at the top right corner */
     width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
     /*
     border-image: url(:/images/spinup.png) 1;
     */
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #565656;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
    border-bottom-width: 0;
 }

 QSpinBox::up-button:hover
 {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

 }

 QSpinBox::up-button:pressed
 {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

}

 QSpinBox::up-arrow {
     image: url(:/MainWindow/images/up_arrow.png);
     width: 11px;
     height: 6px;
 }

 QSpinBox::up-arrow:disabled, QSpinBox::up-arrow:off
 { /* off state when value is max */
    image: url(:/MainWindow/images/up_arrow.png);
 }

 QSpinBox::down-button {
     subcontrol-origin: border;
     subcontrol-position: bottom right; /* position at bottom right corner */
     width: 16px;
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #565656;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
    border-top-width: 0;
 }

 QSpinBox::down-button:hover
 {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

 }

 QSpinBox::down-button:pressed
 {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);

}

 QSpinBox::down-arrow {
     image: url(:/MainWindow/images/down_arrow.png);
     width: 11px;
     height: 6px;
 }

 QSpinBox::down-arrow:disabled,
 QSpinBox::down-arrow:off { /* off state when value in min */
    image: url(:/MainWindow/images/down_arrow.png);
 }

QSplitter::handle 
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3b3b3b);
	border-top: 1px solid #666666;
	border-bottom: 1px solid #262626;
	border-left: 1px solid #666666;
	border-right: 1px solid #262626;
}

 QSplitter::handle:horizontal
 {
     width: 2px;
 }

 QSplitter::handle:vertical
 {
     height: 2px;
 }

QStatusBar
{
    border-top: 1px solid #424242;
	border-left: 1px solid #424242;
	border-bottom: 1px solid #262626;
	border-right: 1px solid #262626;
		background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #3a3a3a, stop: 1.0 #323232);
}


/* Table View */
QTableView
{
	selection-background-color: #a6a6a6;
	selection-color: #d2b450;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
}

/* TreeView */
QTreeView
{
	margin: 3px;
    border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	border-top: 1px solid #020202;
	border-left: 1px solid #020202;
	border-radius: 0px;
	padding: 0px;
	background: #3a3a3a;
	color: #c8c8c8;
	paint-alternating-row-colors-for-empty-area: 0;
	show-decoration-selected: 1;
	alternate-background-color: #787878;

}

QTreeView::item 
{
	background: #3a3a3a;
	color: #c8c8c8;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #111111;
	border-radius: 0px;
	padding-left: 15px;
}

QTreeView::item:hover
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #e5e5e5;
}
QTreeView::item:selected
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #e5e5e5;
}

QTreeView::item:selected:active
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #e5e5e5;
}

QTreeView::item:selected:!active
{
	border-top: 1px solid #616161;
	border-left: 1px solid #616161;
	border-bottom: 1px solid #2b2b2b;
	border-right: 1px solid #2b2b2b;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #e5e5e5;
}

QTreeView::branch:has-siblings:!adjoins-item {
     /* border-image: url(:/MainWindow/images/vline.png) 0; */
     border-image: none;
 }

 QTreeView::branch:has-siblings:adjoins-item {
     /* border-image: url(:/MainWindow/images/branch-more.png) 0; */
     border-image: none;
 }

 QTreeView::branch:!has-children:!has-siblings:adjoins-item {
     /* border-image: url(:/MainWindow/images/branch-end.png) 0; */
     border-image: none;
 }

 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
         /* border-image: none; */
         image: url(:/MainWindow/images/branch-closed.png);
 }

 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
         border-image: none;
         image: url(:/MainWindow/images/branch-open.png);
 }

/* The tab widget frame */
QTabWidget::pane
{
    border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #020202;
	border-right: 1px solid #020202;
	border-radius: 0px;
	margin: 2px;
	padding: 2px;
	background: #2e2e2e;

}

QTabWidget::tab-bar
{
	background: #2e2e2e;
}

/* Style the tab using the tab sub-control. */
QTabBar::tab
{
    border: 1px solid #111111;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #525252, stop: 1.0 #303030);
	color: #848484;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 6px;
}

QTabBar::tab:hover
{
    border: 1px solid #111111;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #525252, stop: 1.0 #303030);
    color: #c8c8c8;
}

QTabBar::tab:selected
{
    border: 1px solid #111111;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3c3c3c);
	color: #c8c8c8;

}

/* Style for main toolbar */
QToolBar
{
    border-top: 1px solid #565656;
	border-left: 1px solid #606060;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #303030;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #494949, stop: 1.0 #3a3a3a);
                                  
                                  
	spacing: 0px; /* spacing between items in the tool bar */
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-bottom: 1px;
	min-height: 30px;
	color: #e5e5e5;
}

QToolBar::handle
{
     image: none;
}
 
QToolBar::separator 
{
     width: 5px;
     border: 0px;
}

/* All types of tool button */
QToolButton
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	color: #c8c8c8;
	border-radius: 0px;
	height: 20px;

}

QToolButton[popupMode="1"]
{
	/* only for MenuButtonPopup */
	padding-right: 20px; /* make way for the popup button */
}

QToolButton::menu-button
{
     /* 16px width + 4px for border = 20px allocated above */
	width: 16px;
	border-top: 1px solid #1c1c1c;
	border-left: 0px solid #1c1c1c;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #555555, stop: 1.0 #3a3a3a);
	color: #c8c8c8;
}

QToolButton:hover
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #565656;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #c8c8c8;

}

QToolButton:pressed
{
	border-top: 1px solid #1c1c1c;
	border-left: 1px solid #565656;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #000000;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #b98620, stop: 1.0 #936a19);
	color: #c8c8c8;
}

QToolTip
{
	border: 1px solid #ffffff;
	background: #333333;
	padding: 3px;
	border-radius: 5px;
	opacity: 150;
	color: #CCCCCC;
}
