<?xml version="1.0" encoding="utf-8" ?>
<!--
  Project:      Filmakademie Application Framework
  File:         test.xml
  Description:  Contains the XML description of Test nodes.
  Author:       Stefan Habel <stefan.habel@filmakademie.de>
  Copyright:    (c) 2009 Filmakademie Baden-Württemberg
  Hint:         You can use Visual Studio to edit the file. It helps following the rules of the document type
                definition from the nodetype.dtd file.
-->

<!DOCTYPE nodetype SYSTEM "nodetype.dtd">
<nodetype name="PositionMapper" category="Mappers" color="40, 40, 40" plugin="positionMapper.dll">
  <parameters>
    <parameter name="Description" type="TextInfo" defaultValue="Position By Value is ..."/>
    <parameters name="Position Mapper Parameters">
      <parameter name="Text" type="TextInfo" defaultValue="Position By Value is ..."/>
      <parameter name="idIn" type="Enumeration" />
      <parameter name="Xin" type="Enumeration" />
      <parameter name="Yin" type="Enumeration" />
      <parameter name="Zin" type="Enumeration" />
    </parameters>
    <!-- input parameters -->
    <parameter name="Table" type="Enumeration" pin="in" visible="false"/>
    <parameter name="Geometry" type="Enumeration" pin="in" visible="false"/>
    <!-- output parameters -->
    <parameter name="Geometry" type="Enumeration" pin="out" visible="false"/>
  </parameters>
</nodetype>
